<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="../styles.css">
    <title>template</title>
</head>
<body>
	<div id="box">
	<img src="../dogbribeslogo.png" id="logo">
	<div id="header"></div>
    <div id="content">
			<canvas id="canvas" width="640" height="480" style="border:1px solid gray;padding: 0;margin: auto;display: block;"></canvas>

   	<div id="footer"></div>
    </div>
    </div>
	<script src="../universe.js"></script>
	<script src="jquery-1.12.1.js"></script>
	<script src="canvas.js"></script>
	<script src="player.js"></script>
	<script src="tilemap.js"></script>
	<script src="controls.js"></script>
	<script>
	$(document).ready(
	init("canvas" ));
	</script>
</body>
</html>